body{
  margin-bottom: 100px;
}

.container{width: 100%}

.header{
  background: #105187;
  font-size: 24px;
  color: #F0F1D5;
  height: 100%;
  padding: 20px;
}
h2{
  font-size: 16px;
  text-decoration: underline;
}

.tickets{
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.droppable {
  height: 80vh;
}

/* LOGIN SECTION */
.login{
  border: 1px solid grey;
  border-radius: 5px;
  
  width: 25em;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#loginAvatar{
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.loginInput, .loginInputButton{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.loginInput {
  width: 80%;
}
#loginButton{
  margin-bottom: 30px;
}
.prompt{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
#smallAvatar{
  width: 55px;
  display: inline;
  position: absolute;
  right: 0.5em;
  top: -37px;
}

.openTicket{
  width: 100%;
}
textarea{
  width: 100%;
}

/* Dashboard css */

.pieContainer{
  margin-top: 20px
}

.timeTitle{
  text-align: center;
  text-decoration: underline;
}

textarea, input {
  border-radius: 5px;
}

.addSign{
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 75px;
  width: 75px;
  font-size: 20px;
  border-radius: 5px 20px 5px;
}

.saveSign{
  background-color: #694A97;
  color: white;
  position: fixed;
  right: 100px;
  bottom: 10px;
  height: 75px;
  width: 75px;
  font-size: 20px;
  border-radius: 5px 20px 5px;
}

.searchSign{
  background-color: #105187;
  color: white;
  position: fixed;
  right: 190px;
  bottom: 10px;
  height: 75px;
  width: 75px;
  font-size: 20px;
  border-radius: 5px 20px 5px;
}

.saveSign:hover{
  background-color: #563d7c;
  color: white;
}
.saveSign:active{
  background-color: #694A97;
  color: white;
}

#projectDropdown{
  position: absolute;  
  right: 2em;
  top: 79px;
  font-size: 20px;
  border-radius: 5px 20px 5px;

  
}

#projdropdown{
  max-width: 130px;
  white-space: normal;
  word-wrap: break-word;
  padding: 2px 10px;
}

.projectSearchResults{
  list-style: none;
  padding-bottom: 5px;
}
@media (max-height: 900px) {
  .droppable {
    height: 100%;
  }
  }